body {
 background-image: url("../images/background.jpg");
 background-attachment: fixed;
 width: 960px;
 font-family: arial;
 text-align: center;
 margin: 0 auto;
 border: 2px solid #000;
}

p {
 color: black;
}

header {
 background: #86edee;
 -moz-column-count: 2;
 -webkit-column-count: 2;
} 

h1 {
 text-align: center;
 font-size: 60px;
 font-family: 'Happy Monkey', cursive;
 color: #000;
}

h2 {
 text-align: center;
 font-family: arial;
 font-size: 14px;
}

h3 {
 font: arial;
 font-size: 16px;
 text-align: right;
}

h4 {
 background: #c362d8;
 font-size: 16px;
 font-weight: bold;
 font-family: 'Happy Monkey', cursive;
 line-height: 2;
 border: 2px solid #333;
 width: 325px;
 color: white;
}

h5 {
 background: #f78ed4;
 padding: 10px;
 font-family: arial;
 font-weight: normal;
 text-align: center;
 border: 2px solid #000;
}

nav {
 background: #c362d8;
 text-align: center;
 margin: 0 auto;
 font-family: 'Happy Monkey', cursive;
 padding: 5px;
 line-height: 1.5;
 list-style-type: none;
 font-size: 16px;
 color: white;
} 

footer {
 background: #f78ed4;
 text-align: center;
 font-size: 12px;
 line-height: 2.5;
 clear: both;
}

#logo {
 float:right;
}

#services_container {
 background-color: #86abee;
 text-align:center;
}

#playing {
 background: #86abee;
 padding: 35px;
 margin: 0 auto;
 font-size: 16px;
 color: black;
 clear: both;
}

#wrapper {
 background-color: white;
 border: 2px solid #333; 
 border-radius: 10px;
 width: 325px;
 font-size: 13px;
 text-align: center;
 float: left;
}

#wrapper2 {
 background-color: white;
 border: 2px solid #333;
 border-radius: 10px;
 width: 325px;
 font-size: 13px;
 text-align: center;
 float: right;
} 

#wrapper3 {
 background-color: white;
 border: 2px solid #333; 
 border-radius: 10px;
 width: 300px;
 padding: 5px;
 font-size: 13px;
 text-align: left;
 line-height: 1.5;
}

#title_wrapper {
 background: #c362d8;
 border: 2px solid #333; 
 border-radius: 10px;
 width: 300px;
 font-size: 13px;
 color: white;
 float: left;
}

#title_wrapper2 {
 background: #c362d8;
 border: 2px solid #333; 
 border-radius: 10px;
 width: 300px;
 font-size: 13px;
 color: white;
 text-align: center;
 float: right;
 }
 
#shows {
 background: #86abee;
 font-size: 16px;
 color: black;
 -moz-column-count: 3;
 -webkit-column-count: 3;
}
 
#shows1 {
 background-color: white;
 border: 2px solid #333; 
 border-radius: 10px;
 width: 270px;
 padding: 2px;
 font-size: 13px;
 text-align: center;
}

#shows2 {
 background-color: white;
 border: 2px solid #333;
 border-radius: 10px;
 width: 270px;
 padding: 2px;
 font-size: 13px;
 text-align: center;
 float: right;
} 

#shows3 {
 background-color: white;
 border: 2px solid #333;
 border-radius: 10px;
 padding: 2px;
 width: 270px;
 font-size: 13px;
 text-align: center;
 float: left;
} 
 
#rewards {
text-align: left;
color: black;
}

#contribute {
text-align: left;
}

#service {
 background: #86abee;
 padding: 35px;
 margin: 0 auto;
 font-size: 16px;
 color: black;
 clear: both;
}

ul {
 list-style: circle;
}

a:link {
 color: white;
}

a:visited {
 color:white;
}

a:hover {
 color: black;
}

a:active {
 color: black;
}

a {
 text-decoration: none;
 text-align: center;
}